@model TemplateManagementSystem.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = null;
}

<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="msapplication-TileColor" content="#0f75ff">
<meta name="theme-color" content="#9d37f6">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<!--Bootstrap-->
<link href="~/assets/plugins/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet" />

<!--Dashboard-->
<link href="~/assets/css/dashboard.css" rel="stylesheet" />
<link href="~/assets/css/admin-custom.css" rel="stylesheet" />

<!--SidemenuCss-->
<link href="~/assets/plugins/toggle-sidebar/sidemenu.css" rel="stylesheet" />

<!--Scrollbar css-->
<link href="~/assets/plugins/scroll-bar/jquery.mCustomScrollbar.css" rel="stylesheet" />

<!--FontIcons-->
<link href="~/assets/css/icons.css" rel="stylesheet" />
<link href="~/assets/plugins/iconfonts/icons.css" rel="stylesheet" />

@*@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Reset your password.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Code)
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Reset" />
            </div>
        </div>
    }*@

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="construction-image">
        <div class="page ">
            <div class="page-content z-index-10">
                <div class="container">
                    <div class="rowALL">
                        <div class="col-xl-4 col-md-12 col-md-12 d-block mx-auto">
                            <div class="card mb-0">
                                <div class="card-header">
                                    <h3 class="card-title">Reset Password</h3>
                                </div>
                                <div class="card-body">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.Code)
                                    <div class="form-group">
                                        <label class="form-label text-dark">Email address</label>
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                        @*<input type="email" class="form-control" placeholder="Enter email">*@
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label text-dark">Password</label>
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                        @*<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">*@
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label text-dark">Confirm Password</label>
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                        @*<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">*@
                                    </div>
                                    @*<div class="form-group">
                                            <label class="custom-control custom-checkbox">
                                                <a href="forgot-password.html" class="float-right small text-dark mt-1">I forgot password</a>
                                                <input type="checkbox" class="custom-control-input">
                                                <span class="custom-control-label text-dark">Remember me</span>
                                            </label>
                                        </div>*@
                                    <div class="form-footer mt-2">
                                        <input type="submit" class="btn btn-primary btn-block" value="Reset" />
                                        @*<a href="index.html" class="btn btn-primary btn-block">SignIn</a>*@
                                    </div>
                                    @*<div class="text-center  mt-3 text-dark">
                                            Don't have account yet? <a href="register.html">SignUp</a>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
